/* "bootstrap dark bg #343a40" */

body {
    /* background-color: #EDF2F4; */
    /* background-color: #F1F7EE; */
    /* background-color: #E2E2E2; */
    /* background-color: #C3C3C3; */
    /* background-color: #2980b9; */
    background-color: #051923;
    animation: bganim 2s;
}

.bg-dark {
    background: linear-gradient(145deg, rgba(0,166,251,1) 0%, rgba(0,53,84,1) 100%)!important;
}

.card {
    border: 1px solid #003554;
    background-color: #003554;
}

@keyframes bganim {
    from {background-color: #2980b9;}
    to {background-color: #051923;}
}

.delay-1-1qtr {
    animation-delay: 1.25s;
}

.delay-1-3qtr {
    animation-delay: 1.75s;
}

.navbar-brand {
    font-family: 'Aldrich', sans-serif !important;
}

.nav-link {
    font-family: 'Aldrich', sans-serif !important;
}

.jumbotron {
    font-family: 'Aldrich', sans-serif !important;
}

.card-title {
    font-family: 'Aldrich', sans-serif !important;
}
