/* "bootstrap dark bg #343a40" */

body {
    /* background-color: #2980b9; */
    background-color: #051923;
    animation: bganim 2s;
}

.bg-dark {
    background: linear-gradient(145deg, rgba(0,166,251,1) 0%, rgba(0,53,84,1) 100%)!important;
}

/* Animation CSS */
@keyframes bganim {
    from {background-color: #2980b9;}
    to {background-color: #051923;}
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1); 
}

.delay-1-1qtr {
    animation-delay: 1.25s;
}

.delay-1-3qtr {
    animation-delay: 1.75s;
}

.card {
    border: 1px solid #003554;
    background-color: #003554;
}

.navbar-brand {
    font-family: 'Aldrich', sans-serif !important;
}

.nav-link {
    font-family: 'Aldrich', sans-serif !important;
}

.jumbotron {
    font-family: 'Aldrich', sans-serif !important;
}

.card-title {
    font-family: 'Aldrich', sans-serif !important;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}