/* "bootstrap dark bg #343a40" */

body {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.opacity {
    opacity: 0.5;
}

h1 {
 opacity: 1.0 !important;
}

/* Animation CSS */
@keyframes bganim {
    from {background-color: #2980b9;}
    to {background-color: #051923;}
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1); 
}

.delay-1-1qtr {
    animation-delay: 1.25s;
}

.delay-1-3qtr {
    animation-delay: 1.75s;
}

.card {
    /* border: 1px solid #003554;
    background-color: #003554; */
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif !important;
}

.nav-link {
    font-family: 'Open Sans', sans-serif !important;
}

.jumbotron {
    font-family: 'Open Sans', sans-serif !important;
}

.card-title {
    font-family: 'Open Sans', sans-serif !important;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}